<! -- sidebar.html -->

  <section class="ms-Page-header-bg" id="header_bg">
         <object class="ms-Page-header-bg-svg" data="/startsBlink.svg" type="image/svg+xml"></object> 
  </section>

<header class="sidebar-header" role="banner">
    <a href="{{ site.BASE_PATH }}/">
		   <img src="{{ site.gavatar }}" class="img-circle" />  
    </a>
	
	<h3 class="title">
          <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a> 
    </h3>  
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center" style="margin-top:10px;">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.weibo %}
		<li>
			<a class="btn btn-default btn-sm" href="http://weibo.com/{{ site.author.weibo }}">
				<!-- <i class="fa fa-twitter fa-lg"></i> -->  
				<img src="/sinaLogo.png"  alt="新浪logo" height="18" width="16" align="middle"/>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
	<ul id="contact-list" class="list-unstyled list-inline"> 
    <!-- 如果上句ul id="contact-list-secondary",则联系方式第二行列表初始时候是隐藏的，当鼠标滑过列表时显
         示， 鼠标离开隐藏 chang 14/11/22-->
		{% if site.author.txweibo %}
		<li>
			<a class="btn btn-default btn-sm" href="http://t.qq.com/{{ site.author.txweibo }}">
                    <!-- <i class="fa fa-pinterest fa-lg"></i> -->
                   <img src="/txLogo.png"  alt="腾讯logo" height="15" width="14" align="middle"/>
			</a>
		</li>
		{% endif %}
		{% if site.author.csdn %}  
		<li>
			<a class="btn btn-default btn-sm" href="http://blog.csdn.net/{{ site.author.csdn }}">
                    <!-- <i class="fa fa-linkedin fa-lg"></i> -->
               <img src="/csdnLogo.png"  alt="csdn logo" height="17" width="16" align="middle"/>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
	<div id="summarize" class="text-center" style="margin-top:30px;"> 
    <p style="font-size:16px;">凭栏一片风云气,来做神州袖手人。<br/> 文章我自甘沦落,不觅封侯但觅诗。</p>
</div>
</div>
	<!-- 添加我的谷歌分析GoogleAnalytics chang 14/11/22-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-57011210-1', 'auto');
	  ga('send', 'pageview');
	
	</script>

</body>

<! -- sidebar.html end -->
